@import 'config';
@import 'menu';
@import 'mobile';
* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Gotham-Light', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 100;
}

// Headings

h1,
h2,
h3 {
  margin: 0;
  // thinner letters on headings
  font-weight: 400;
  // adding ampersand is the same as doing h1.lg-heading or h2.lg-heading etc..
  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: lighten($primary-color, 2);
  }
}

a {
  color: $secondary-color;
  // removes the underline from links
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  height: 100%;

  .icons {
    margin-top: 1rem;
    @include easeOut;
    :hover {
      color: black;
    }

    a {
      padding: 0.4rem;
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }

  // About Page

  &#about {
    ul {
      list-style-type: none;
    }
  }
}
.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    'bioimage bio bio'
    'exp-h exp-h exp-h'
    'job-1 job-2 job-3'
    'edu-h skill-h skill-h'
    'edu-1 skill-1 skill-2';
  grid-template-columns: repeat(3, 1fr);
  .learning {
    align-items: center;
    text-align: center;
  }

  .bio {
    grid-area: bio;
    font-size: 1.5rem;
    align-items: center;
  }

  .exp-h {
    grid-area: exp-h;
    padding: 0.5rem;
  }

  .job-1 {
    grid-area: job-1;
    background: rgb(234, 234, 234);
    border-bottom: 5px solid $secondary-color;
  }

  .job {
    padding: 0.5rem;
  }

  .edu-h {
    grid-area: edu-h;
    padding: 0.5rem;
  }

  .edu-1 {
    grid-area: edu-1;
    padding: 0.5rem;
    background: rgb(234, 234, 234);
    border-bottom: 5px solid $secondary-color;
  }

  .skill-h {
    grid-area: skill-h;
    padding: 0.5rem;
  }

  .skill-1 {
    grid-area: skill-1;
    padding: 0.5rem;
    background: rgb(234, 234, 234);
    border-bottom: 5px solid $secondary-color;
  }

  .skill-2 {
    grid-area: skill-2;
    padding: 0.5rem;
    background: rgb(234, 234, 234);
    border-bottom: 5px solid $secondary-color;
  }

  .dev-icons {
    font-size: 3rem;
    padding-left: 0;
    list-style: none;
    @include easeOut;

    :hover {
      background-color: $secondary-color;
    }
  }

  .icon-list-item {
    display: inline-block;
    padding: 1rem;
  }

  .date-text {
    font-style: italic;
  }
}
